.row {
  display: flex;
  justify-content: space-around;
  padding: 0 50px 0 50px;
}

.rowItem {
  flex-grow: 1;
  margin: 10px;
}

.rowItem:hover {
  background: #939393;
  color: white;
  transition: 0.1s;
  border-radius: 5px;
  cursor: pointer;
}
